<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Carga de Clientes</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">Distribuidora</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/productos">Productos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/clientes">Clientes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/nueva_venta">Nueva Venta</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-4" style="margin-bottom: 60px;">
		<h2>Cargar Cliente</h2>

		<form id="clienteForm">
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="idCliente">ID Cliente</label>
					<input type="text" class="form-control" id="idCliente" placeholder="ID Cliente" />
				</div>
				<div class="form-group col-md-4">
					<label for="nombreFantasia">Nombre Fantasía</label>
					<input type="text" class="form-control" id="nombreFantasia" placeholder="Nombre Fantasía" />
				</div>
				<div class="form-group col-md-4">
					<label for="nombre">Nombre</label>
					<input type="text" class="form-control" id="nombre" placeholder="Nombre" />
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="apellido">Apellido</label>
					<input type="text" class="form-control" id="apellido" placeholder="Apellido" />
				</div>
				<div class="form-group col-md-4">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Email" />
				</div>
				<div class="form-group col-md-4">
					<label for="whatsapp">Whatsapp</label>
					<input type="text" class="form-control" id="whatsapp" placeholder="Whatsapp" />
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="direccion">Dirección</label>
					<input type="text" class="form-control" id="direccion" placeholder="Dirección" />
				</div>
				<div class="form-group col-md-6">
					<label for="fechaAlta">Fecha de Alta</label>
					<input type="date" class="form-control" id="fechaAlta" />
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="cuit">CUIT</label>
					<input type="text" class="form-control" id="cuit" placeholder="CUIT" />
				</div>
				<div class="form-group col-md-6">
					<label for="diasHorarios">Días y Horarios</label>
					<input type="text" class="form-control" id="diasHorarios" placeholder="Días y Horarios" />
				</div>
			</div>

      <button type="button" class="btn btn-primary" onclick="altaCliente()">Guardar Cliente</button>
    </form>

	<footer class="bg-dark text-light text-center py-1 fixed-bottom" style="position: fixed; bottom: 0.0; width: 100%;">
		<p>&copy; UAA - Sistema de proveedores</p>
	</footer>
	</div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    async function altaCliente(){
      const idCliente = document.getElementById('idCliente').value;
      const nombreFantasia = document.getElementById('nombreFantasia').value;
      const nombre = document.getElementById('nombre').value;
      const apellido = document.getElementById('apellido').value;
      const email = document.getElementById('email').value;
      const whatsapp = document.getElementById('whatsapp').value;
      const direccion = document.getElementById('direccion').value;
      const fechaAlta = document.getElementById('fechaAlta').value;
      const cuit = document.getElementById('cuit').value;
      const diasHorarios = document.getElementById('diasHorarios').value;
      try {
        const respuesta = await axios.post('http://127.0.0.1:3000/clients', { idCliente: idCliente, nombreFantasia: nombreFantasia, nombre: nombre, apellido: apellido, email: email, whatsapp: whatsapp, direccion: direccion, fechaAlta: fechaAlta, cuit: cuit, diasHorarios: diasHorarios});
        const nuevoCliente = respuesta.data;
		Swal.fire({
			position: "center",
			icon: "success",
			title: "Your work has been saved",
			showConfirmButton: true
		}).then((result) => {
		if (result.isConfirmed) {
			Swal.fire("Saved!", "", "success");
			window.location.href = "/clientes";
		} else if (result.isDenied) {
			Swal.fire("Changes are not saved", "", "info");
		}
		});
      } catch (error) {
        console.error(error);
      }
    }
  </script>

</body>

</html>