<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Ventas</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">Distribuidora</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/productos">Productos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/clientes">Clientes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/nueva_venta">Nueva Venta</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <div class="container mt-4">
        <div class="d-flex justify-content-between">
            <h2>Listado de Ventas</h2>
            <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal"
                data-bs-target="#agregarVentaModal" onclick="irANuevaVenta()">
                Nueva Venta
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Cantidad Productos</th>
                    <th>Importe Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Carga dinamica de las ventas -->
            </tbody>
        </table>
    </div>

    <!-- Modal para ver detalle de venta -->
    <div class="modal fade" id="verDetalleModal" tabindex="-1" aria-labelledby="verDetalleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="verDetalleModalLabel">Detalle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Informe -->
                    <label class="form-label" id="detalleNombreCliente">Cliente: </label>
                    <table style="border-collapse: collapse;  width: 100%;">
                        <caption id="detalleImporte"></caption>
                        <thead>
                          <tr>
                            <th style="padding: 8px; text-align: center; border: 1px solid #000000;">Producto</th>
                            <th style="padding: 8px; text-align: center; border: 1px solid #000000;">Cantidad</th>
                            <th style="padding: 8px; text-align: center; border: 1px solid #000000;">Precio</th>
                          </tr>
                        </thead>
                        <tbody id="body-products">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="bg-dark text-light text-center py-3 fixed-bottom">
        <p>&copy; UAA - Sistema de proveedores</p>
    </footer>

    <!-- Agrega Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        window.onload = cargarTabla();

        async function obtenerNombreCliente(id){
            id = parseInt(id);
            try {
                const response = await axios.get('http://127.0.0.1:3000/clients/');
                const clientes = response.data;
                var nombreCliente = "";
                clientes.forEach(cliente => {
                    if(cliente.idCliente === id)
                        nombreCliente = cliente.nombre;
                });
                
                return nombreCliente;
                
            } catch (error) {
                console.error('Error al cargar datos del cliente', error);
                alert('Hubo un error al cargar datos del cliente. Por favor, inténtalo de nuevo más tarde.');
            }
        }

        // Funcion para cargar la tabla con las ventas de la BDD
        async function cargarTabla() {
            try {
                const response = await axios.get('http://127.0.0.1:3000/sales/');
                const ventas = response.data;
                const tbody = document.querySelector('tbody');
                tbody.innerHTML = '';

                for (const venta of ventas) {
                    // Esperar a obtener el nombre del cliente antes de agregar la fila a la tabla
                    const nombreCliente = await obtenerNombreCliente(venta.idCliente);
                    const newRow = `
                        <tr>
                            <td>${nombreCliente}</td>
                            <td>${venta.productos.length}</td>
                            <td>${venta.total}</td>
                            <td>
                                <button class="btn btn-primary" onclick="verDetalle('${nombreCliente}', '${venta._id}')" 
                                data-bs-toggle="modal" data-bs-target="#verDetalleModal">Detalle</button>
                            </td>
                        </tr>
                    `;
                    tbody.innerHTML += newRow;
                }
            } catch (error) {
                console.error('Error al obtener la lista de ventas:', error);
                alert('Hubo un error al cargar la lista de ventas. Por favor, inténtalo de nuevo más tarde.');
            }
        };

        // Función para cargar datos del modal de detalle
        async function verDetalle(nombreCliente, idVenta) {
            const detalleNombreCliente = document.getElementById('detalleNombreCliente');
            detalleNombreCliente.textContent = 'Cliente: ' + nombreCliente;
            var importeTotal = 0;
            try {
                const response = await axios.get('http://127.0.0.1:3000/sales/');
                const ventas = response.data;
                ventas.forEach(venta => {
                    if(toString(venta._id) === toString(idVenta)){
                        const tbody = document.getElementById('body-products');
                        tbody.innerHTML = '';
                        venta.productos.forEach(producto => {
                            importeTotal += producto.qty * producto.price;
                            const newRow = `
                                <tr>
                                    <td style="padding: 8px; text-align: center; border: 1px solid #000000;">${producto.name}</td>
                                    <td style="padding: 8px; text-align: center; border: 1px solid #000000;">${producto.qty}</td>
                                    <td style="padding: 8px; text-align: center; border: 1px solid #000000;">${producto.price}</td>
                                </tr>
                            `;
                            tbody.insertAdjacentHTML('beforeend', newRow);
                        });
                    }
                })
                const detalleImporte = document.getElementById('detalleImporte');
                detalleImporte.textContent = 'Importe total: ' + importeTotal;
            } catch (error) {
                console.error('Error al mostrar los detalles de la venta:', error);
                alert('Hubo un error al mostrar los detalles de la venta. Por favor, inténtalo de nuevo más tarde.');
            }
        };

        function irANuevaVenta(){
            window.location.href = '/nueva_venta';
        }
    </script>

</body>

</html>